*{
    font-family: sans-serif;
}
#wrapper{
    margin: 0px auto;
    width: 900px;
    min-height: 200px;
}
#pencil{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

#header h1{
    display: inline-block;
    vertical-align: middle;
    margin-right: 200px;
}

#header ul{
    display: inline-block;
}

#header li{
    display: inline-block;
    margin: 10px;
}

#content{
    background-color: grey;
    min-height: 600px;
    width: 900px;
}

.subcontent{
    display: inline-block;
    margin: 48px;
    height: 550px;
    width: 350px;
    background-color: white;
    vertical-align: top;
}

#subcolor{
    background-color: grey;
    color: white;
}

.subcontent li{
    font-size: 22pt;
    margin: 10px;
}